<div class="row mt-2">   
    <form action="/educationlessons/<%=the_lesson.id%>">
        <button class="btn lessoncard text-start">
            <h6 class="mt-2" style="color: #61C7ED;"><%=the_lesson.name%></h6>
            <a style="color: #797B7D"><i class="far fa-clock"></i> <%=the_lesson.education_video.seconds.to_i / 60%> minutes</a>
            <div class="row mt-1">
            </div>
        </button>
    </form>
</div>