<% if the_lesson.status == "In Progress" %>

    <div class="row mt-2 homebtncol">
        <div class="card goalcard">
            <div class="card-body">
                <a href="/lessons/<%=the_lesson.id%>" style="text-decoration: none"><h6><%=the_lesson.name%> <i class="far fa-play-circle"></i></h6></a>
                <a><i class="far fa-clock"></i> <%=the_lesson.video.seconds.to_i / 60%> minutes</a>
            </div>
        </div>
    </div>

<% end %>