<div class="offcanvas offcanvas-bottom background" tabindex="-1" id="selectgoalcategory" aria-labelledby="selectgoalcategoryLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="selectgoalcategoryLabel">Create Goal</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    

  <div class="row mt-1">

  <% @list_of_goal_categories.each do |a_category| %>
    <div class="col-md-6 text-center">
      <div class="row mt-2 homebtncol">

      <form action="/creategoal/<%=a_category.id%>">
        <button class="btn addcard" style="height: 100%; width: 100%; background-color: white;" data-bs-toggle="offcanvas" data-bs-target="#painscore" aria-controls="painscore">
          <h6 class="mt-2"><i class="<%=a_category.icon%> fa-3x"></i></h6>
          <a><%=a_category.category%></a>
        </button>
      </form>

      </div>
    </div>
  <% end %>

  </div>

  </div>
</div>