<div class="offcanvas offcanvas-bottom background" tabindex="-1" id="painscore" aria-labelledby="painscoreLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="painscoreLabel">Pain Score</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    
  <label for="customRange1" class="form-label">Example range</label>
  <input type="range" class="form-range painscorerange" style="color: white" id="customRange1">

  </div>
</div>