<div class="offcanvas offcanvas-start" style="width: 50%; border: none" tabindex="-1" id="menu" aria-labelledby="menu">
  <div class="offcanvas-header">
  <ul style="list-style-type:none;">
  <li>
    <h4>Hello, <%=@current_user.first_name%>!</h4>
  </li>
  <hr>
  <li>
    <a href="/dashboard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="color: #797B7D">
          <h6><i class="fas fa-home fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Dashboard</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/lessons">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="color: #797B7D">
          <h6><i class="fas fa-play fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Lessons</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/goals">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="color: #797B7D">
          <h6><i class="fas fa-trophy fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Goals</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
  <a href="#painscore" class="addcard" data-bs-toggle="offcanvas" data-bs-target="#painscore" aria-controls="painscore">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <h6><i class="fas fa-plus fa-fw"></i></h6>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <h6>Pain Score</h6>
      </div>
    </div>
  </a>
</li>
  <li>
    <a href="#" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h6><i class="fas fa-book-medical fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Pain Diary</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h6><i class="fas fa-book fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Mood Journal</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h6><i class="fas fa-utensils fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Food Log</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="#" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h6><i class="fas fa-toolbox fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Resources</h6>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/user_sign_out" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h6><i class="fas fa-sign-out-alt fa-fw"></i></h6>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h6>Sign Out</h6>
        </div>
      </div>
    </a>
  </li>
</ul>
  </div>
  <div class="offcanvas-body">
    <div>
     
    </div>
  </div>
</div>

<%= render "dashboard/painscoreoffcanvas.html.erb" %>
