<div class="offcanvas offcanvas-start" style="width: 90%" tabindex="-1" id="menu" aria-labelledby="menu">
  <div class="offcanvas-header">
  <ul style="list-style-type:none;">
  <li>
    <a href="/dashboard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-angle-right"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>Dashboard</h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/lessons">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-angle-right"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>Lessons</h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/goals">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-angle-right"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>Goals</h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/creategoal" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-trophy"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>New Goal</h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/goals" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-book-medical"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>Your Pain Diary</h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/goals" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-utensils"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>Food Log</h5>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a href="/user_sign_out" class="addcard">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <h5><i class="fas fa-sign-out-alt"></i></h5>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <h5>Sign Out</h5>
        </div>
      </div>
    </a>
  </li>
</ul>
  </div>
  <div class="offcanvas-body">
    <div>
     
    </div>
  </div>
</div>
