<div class="row homebtncol">
<div class="row mt-2">
</div>
  <div class="col">
    <h4>Up Next</h4>
  </div>
  <div class="col text-end">
    <a href="/lessons" class="dashbtn-goal">View Lessons <i class="fas fa-angle-right"></i></a>
  </div>
</div>

<% @current_user.next_lessons.each do |a_lesson| %>

  <%= render "/dashboard/lessoncard", {:the_lesson => a_lesson} %>

<% end %>

<div class="row mt-4 homebtncol">
  <div class="col-7">
    <h4>Today's Goals</h4>
  </div>
  <div class="col-5 text-end">
    <a href="/goals" class="dashbtn-goal">View Goals <i class="fas fa-angle-right"></i></a>
  </div>
</div>

<% @current_user.todays_goals.each do |a_goal| %>

  <%= render "/dashboard/goalcard", {:the_goal => a_goal} %>

<% end %>

  <div class="row mt-1 g-1">
    <div class="col-6 text-center">
      <div class="row mt-2 homebtncol">
       
          <button class="btn addcard" style="height: 100%; width: 100%; background-color: white;" data-bs-toggle="offcanvas" data-bs-target="#selectgoalcategory" aria-controls="selectgoalcategory">
            <h6 class="mt-2"><i class="fas fa-trophy fa-3x"></i></h6>
            <a>New Goal</a>
          </button>

      </div>
    </div>

    <div class="col-6 text-center">
      <div class="row mt-2 homebtncol">
       
          <button class="btn addcard" style="height: 100%; width: 100%; background-color: white;" data-bs-toggle="offcanvas" data-bs-target="#painscore" aria-controls="painscore">
            <h6 class="mt-2"><i class="fas fa-book-medical fa-3x"></i></h6>
            <a>Pain Score</a>
          </button>

      </div>
    </div>

  </div>

  <%= render "dashboard/newgoaloffcanvas.html.erb" %>
  <%= render "dashboard/painscoreoffcanvas.html.erb" %>
    