<div class="row backgrounddiv">
q
</div>

<div class="row mt-5 backgrounddiv">
q
</div>

<div class="row mt-5 backgrounddiv">
q
</div>

<div class="row mt-5">
  <div class="col-md-4">
  </div>

  <div class="col-md-4 homelogocol">
    <img src="/PN_transparent.png" class="img-fluid">
  </div>

  <div class="col-md-4">
  </div>

</div>

<div class="row mt-5">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="d-grid gap-2 homebtncol">
      <a href="user_sign_in" class="btn btn-lg homebtn">Log In</a>
      <a href="/user_sign_up" class="btn btn-lg homebtn">Get Started</a>
    </div>
  </div>

  <div class="col-md-4">
  </div>

</div>

<div class="row mt-5 backgrounddiv">
q
</div>

<div class="row mt-5 backgrounddiv">
q
</div>

<div class="row mt-4 backgrounddiv">
q
</div>
