<div class="row mt-2 homebtncol">   
    <button class="btn goalcard text-start" style="height: 100%; width: 100%; background-color: white;">
        <h6 class="mt-1"><%=the_lesson.name%> <i class="far fa-play-circle"></i></h6>
        <a><i class="far fa-clock"></i> <%=the_lesson.video.seconds.to_i / 60%> minutes</a>
    </button>
</div>