<div class="row homebtncol text-center">
<div class="row mt-5">
</div>
  <div class="col mt-5">
    <h4 class="lessonheader">Excellent Work!</h4>
  </div>
</div>

<div class="row mt-4 text-center">

    <div class="col">
    </div>

    <div class="col">
        <i class="fas fa-glass-cheers fa-7x"></i>
    </div>

    <div class="col">
    </div>

</div>

<div class="row mt-5 text-center">

    <h4 class="lessonheader">Keep it going!</h4>

</div>

<form action="/dashboard">
<div class="row mt-5 homebtncol">
  <div class="d-grid gap-2">
    <button class="nextlesson">Dashboard <i class="fas fa-arrow-right fa-fw"></i></button>
  </div>
</div>
</form>