<div class="row homebtncol">
<div class="row mt-2">
</div>
  <div class="col">
    <h5>Up Next</h5>
  </div>
</div>

<% @current_user.next_lessons.each do |a_lesson| %>

  <%= render "/lessons/nextlessoncard", {:the_lesson => a_lesson} %>

<% end %>

<div class="row mt-4 homebtncol">
  <div class="col">
    <h5>Upcoming</h5>
  </div>
</div>

<% @current_user.upcoming_lessons.each do |a_lesson| %>

  <%= render "/lessons/upcominglessoncard", {:the_lesson => a_lesson} %>

<% end %>

<div class="row mt-2">
  <a style="color: white"> a </a>
</div>
