<h5>Upcoming:</h5>

  <% a_course.lessons.each do |a_course| %>
    <% if a_course.status == "Enrolled"%>
    
    <%= render "courses/course_card", { :the_course => a_course } %>
    <p><strong><%=a_course.name%></strong></p>
    <p><%=a_course.status%></p>

    <% end %>
  <% end %>

  <% if a_course.lessons.first.status == "Complete" %>
    <h5>Completed:</h5>
  <% end %>

<% end %>
