<div class="row homebtncol">
<div class="row mt-2">
</div>
  <div class="col">
    <h5>
    <%= @the_lesson.name %>
  </h5>
  </div>
</div>

<div class="row mt-2 align-items-center">

  <iframe class="rounded" src="<%=@the_lesson.video.video_ref%>" frameborder="0" width="560" height="315" controls allowfullscreen>
  </iframe>

</div>

<div class="row mt-2">

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-center d-grid">
    <a href="/lessons/<%=@the_lesson.id + 1%>" class="dashbtn-goal">Next Lesson <i class="fas fa-angle-right"></i></a>
  </div>

</div>
