<div class="row mt-4">
  <h1>
    <%= @the_lesson.name %>
  </h1>
</div>

<div class="row mt-2 align-items-center">

  <iframe class="rounded" src="<%=@the_lesson.video.video_ref%>" frameborder="0" width="560" height="315" controls allowfullscreen>
  </iframe>

</div>

<div class="row mt-2">

  <div class="col-md-4">
  </div>

  <div class="col-md-4 text-center d-grid">
    <a href="/lessons/<%=@the_lesson.id + 1%>" class="btn btn-dark homebtn">Next Module</a>
  </div>

</div>
