<div class="row homebtncol">
<div class="row mt-2">
</div>
  <div class="col">
    <h5>
    <%= @the_lesson.name %>
  </h5>
  </div>
</div>

<div class="row mt-2 align-items-center">

  <iframe class="rounded" src="<%=@the_lesson.video.video_ref%>" frameborder="0" width="560" height="315" controls allowfullscreen>
  </iframe>

</div>

  <form action="/markcomplete">

    <div class="row mt-2 homebtncol">
      <div class="d-grid gap-2">
        <input type="hidden" name="lesson_id" value="<%=@the_lesson.id%>">
        <button class="btn homebtn">Complete Lesson</button>
      </div>
    </div>
  </form>
