<div class="offcanvas offcanvas-bottom offcanvasbutton" tabindex="-1" id="updategoal" aria-labelledby="updategoalLabel">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="updategoalLabel">Update Goal</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    

  <div class="row">

  <%= your_goal.category %>

  </div>

  </div>
</div>