<div class="row">
<div class="row mt-2">
</div>
  <div class="col">
    <h4 class="goalheader">Goals</h4>
  </div>
</div>

<div class="row mt-1">
  <div class="col">
    <h4 class="subheader">In Progress</h4>
  </div>
</div>


<% @current_user.in_progress_goals.each do |a_goal| %>

  <%= render "/dashboard/goalcard", {:the_goal => a_goal} %>

<% end %>

<% if @current_user.completed_goals.count > 0 %>

<div class="row">
<div class="row mt-4">
</div>
  <div class="col">
    <a class="subheader" data-bs-toggle="collapse" href="#completedgoals" role="button" 
    aria-expanded="false" aria-controls="completedgoals">
    Completed <i class="fas fa-chevron-down fa-xs fa-fw"></i>
    </a>
  </div>
</div>

<div class="collapse" id="completedgoals">
  <div class="card card-body" style="border: none">

    <% @current_user.completed_goals.each do |a_goal| %>

      <%= render "/dashboard/goalcard", {:the_goal => a_goal} %>

    <% end %>
  </div>
</div>

<% end %>

<div class="row mt-3" style="padding-left: 10px; padding-right: 10px">
  
  <button class="btn newgoalcard" data-bs-toggle="offcanvas" data-bs-target="#selectgoalcategory" aria-controls="selectgoalcategory">
    <div class="row mt-1">  
      <div class="col">
        <a>Set new goal</a>
      </div>
      <div class="col text-end">
      <i class="fas fa-plus fa-fw"></i>
      </div>
    </div>
    <div class="row mt-1">
    </div>
  </button>

</div>

<%= render "dashboard/newgoaloffcanvas.html.erb" %>
