/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 {
    border: thin red solid;
  }
 
  .background {
     background-color: #F6F8F9; 
     height: 100%; 
     min-height: 100vh"
  }
 
  .painscorerange {
     height: 5px;
     background: #61C7ED;
 
  }
 
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
 
  .dashbtn-lesson {
    text-decoration: none;
    text-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: /* #0AB211 */ #80C976;
  }
 
  .lessoncard {
    border-radius: 5px;
    text-decoration: none;
    text-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #80C976;
    border: none;
    /* background-color: #D0FFCA; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
 
  .dashbtn-goal {
    text-decoration: none;
    text-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: /* #5AAAEF */ #61C7ED;
  }
 
  .goalcard {
    color: /* #5AAAEF */ #61C7ED;
    /* background-color: #D4EBFE; */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
 
   .addcard {
    border-radius: 5px;
    color: #61C7ED;
    /* background-color: #D4EBFE; */
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
 
  .streak {
    color: #C45AEF;
    background-color: #F4D8FF;
  }
 
  .goalbtn {
    background-color: #D4EBFE;
    color: #5AAAEF;
    border-color: #D4EBFE;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
 
  .goalbtn:hover {
    background-color: #D4EBFE;
    color: #5AAAEF;
    border-color: #D4EBFE;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
 
  .homebtn {
    background-color: #61C7ED;
    color: white;
    border-color: #61C7ED;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
 
  .homebtncol {
    padding-left: 20px;
    padding-right: 20px;
  }
 
  .homelogocol {
    padding-left: 30px;
    padding-right: 30px;
  }
 
  .homebtn:hover {
  background-color: #A4DEF4;
  border-color: #A4DEF4;
  color: white;
  }
 
  .selectbtn {
    background-color: white;
    color: #61C7ED;
    border-color: #61C7ED;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }
 
  .selectbtn:hover {
    background-color: #A4DEF4;
    border-color: #A4DEF4;
    color: white;
  }
 
  .backgrounddiv {
    color: #F6F8F9;
    background-color: #F6F8F9
  }
 
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FEFAFA;
    opacity: 1; /* Firefox */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
 
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FEFAFA;
  }
 
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: #FEFAFA;
  }
 
  .formlabel {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
 
  .textinput {
    font-size:35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #B0B0B4;
    border-radius:none;
    text-align: center
  }
 
  a {
    color: inherit;
    text-decoration: none;
  }
 
  a:hover {
    color:inherit;
  }
 
  a:active {
    color:inherit;
  }      
  
  li {
    margin: 20px 0;
  }