<h1>Sign up</h1>

<form action="/insert_user" method="post">

<div class="row">
  <div class="col">
    <label for="first_name_box" class="form-label formlabel">First Name</label>
    <input type="text" class="form-control" placeholder="First name" aria-label="First name" id="first_name_box" name="query_first_name">
  </div>
  <div class="col">
    <label for="last_name_box" class="form-label formlabel">Last Name</label>
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="last_name_box" name="query_last_name">
  </div>
</div>

<div class="row mt-2">
  <div>
    <label for="email_box" class="form-label formlabel">Email</label>
    <input id="email_box" class="form-control" aria-label="Email" name="query_email" placeholder="Email" type="text">
  </div>
</div>
         
<div class="row mt-2">
  <div>
    <label for="password_box" class="form-label formlabel">Password</label>
    <input type="text" class="form-control" placeholder="Password" aria-label="Password" id="password_box" name="query_password">
  </div>
</div>

<div class="row mt-2">
  <div>
    <label for="password_confirmation_box" class="form-label formlabel">Confirm Password</label>
    <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" id="password_confirmation_box" name="query_password_confirmation">
  </div>
</div>

<div class="row mt-2">
  <div class="d-grid gap-2 homebtncol">
    <button class="btn homebtn">Create Account</button>
  </div>
</div>

</form>
